Repository andornaut/statezero: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc:

{
  "*.{css,json,md}": "prettier --write",
  "*.js": ["prettier --write", "eslint --fix --max-warnings 0"]
}

Add .npmignore
  .npmignore
Due: none

chore: automated dependency updates and maintenance
  package-lock.json
  package.json
Due: prettier --write

chore: automated maintenance
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update direct dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update direct dependencies
  package-lock.json
Due: prettier --write

Merge dependabot PR #54
  package-lock.json
Due: prettier --write

Rename release tag from main to latest
  .github/workflows/ci.yml
Due: none

Standardize CI workflow conventions
  .github/workflows/release.yml
Due: none

ci: use dev tag for main branch releases, update actions
  .github/workflows/release.yml
Due: none

Merge dependabot PR #55
  package-lock.json
Due: prettier --write

Upgrade actions/setup-node from v4 to v6
  .github/workflows/release.yml
Due: none

Add min-release-age=7 to .npmrc for supply chain security
  .npmrc
Due: none

chore: add dependabot with 7-day cooldown
  .github/dependabot.yml
Due: none

fix: CI build failure
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump @babel/core to 8.0.1 and @babel/preset-env to 8.0.2
  package-lock.json
  package.json
Due: prettier --write

Fail a push that carries AI attributions
  .github/workflows/ai-attributions.yml
Due: none

Run the checks on every branch, and narrow release write access
  .github/workflows/ai-attributions.yml
  .github/workflows/release.yml
Due: none

Update the dev release in place rather than recreating it
  .github/workflows/release.yml
Due: none

Wait for the attributions scan before publishing a release
  .github/workflows/ai-attributions.yml
  .github/workflows/release.yml
Due: none

Name the build job Build, and match the release tags the ruleset guards
  .github/workflows/ai-attributions.yml
  .github/workflows/release.yml
Due: none

Show CI status and the license at the top of the README
  README.md
Due: prettier --write

Fail a branch that ships an agent instruction file
  .github/workflows/ai-attributions.yml
Due: none

Fail a commit message that carries an emdash
  .github/workflows/ai-attributions.yml
Due: none

Key the concurrency group by event as well as branch
  .github/workflows/ai-attributions.yml
  .github/workflows/release.yml
Due: none

Name the endash in the comment beside the emdashes flag
  .github/workflows/ai-attributions.yml
Due: none

Split Test and Lint out of release.yml into test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Drop an .npmrc setting npm does not have
  .npmrc
Due: none

Share one lint ruleset with every JavaScript repository here
  eslint.config.base.mjs
  eslint.config.mjs
  package.json
  src/getters.js
Due: prettier --write, eslint --fix --max-warnings 0

Exempt strings from the shared column limit
  eslint.config.base.mjs
Due: none

Take the string exemption back out of the shared limit
  eslint.config.base.mjs
Due: none

Hold the JavaScript to more than eslint's recommended set
  dist/index.d.ts
  eslint.config.base.mjs
  src/clone.js
  src/state.js
  src/subscriptions.js
  test/helpers.js
  test/test_getters.js
  test/test_state.js
Due: prettier --write, eslint --fix --max-warnings 0

Check formatting in the gate, not only on the way to a commit
  package.json
Due: prettier --write
